
<div class="row">

	<div class="col-md-8 col-md-offset-2 col-centered profile-box">
		
		<div class="image-container lg-image-container" ng-style="{'background-image': 'url('+ vm.userDetails.avatar_url+')'}"></div>

		<div ng-if="vm.userDetails.login" class="row">
			<p class="text-center">Github Profile Name: <strong>{{vm.userDetails.login}}</strong></p>
		</div>

		<div ng-if="vm.userDetails.id" class="row">
			<p class="text-center">Github Profile ID: <strong>{{vm.userDetails.id}}</strong></p>
		</div>

		<div ng-if="vm.userDetails.name" class="row">
			<p class="text-center">User name: <strong>{{vm.userDetails.name}}</strong></p>
		</div>

		<div ng-if="vm.userDetails.company" class="row">
			<p class="text-center">Company: <strong>{{vm.userDetails.company}}</strong></p>
		</div>

		<div ng-if="vm.userDetails.blog" class="row">
			<p class="text-center">Blog: <a href="{{vm.userDetails.company}}"><strong>{{vm.userDetails.company}}</strong></p></a>
		</div>

		<div ng-if="vm.userDetails.location" class="row">
			<p class="text-center">Location: <strong>{{vm.userDetails.location}}</strong></p>
		</div>

		<div ng-if="vm.userDetails.hireable" class="row">
			<p class="text-center">Location: <strong>{{vm.userDetails.hireable}}</strong></p>
		</div>

		<div ng-if="vm.userDetails.email" class="row">
			<p class="text-center">Location: <strong>{{vm.userDetails.hireable}}</strong></p>
		</div>

		<div ng-if="vm.userDetails.bio" class="row">
			<p class="text-center">Biography: <strong>{{vm.userDetails.bio}}</strong></p>
		</div>
				
		<div ng-if="vm.userDetails.html_url" class="row">
			<p class="text-center">Github Profile URL: <strong><a href="{{vm.userDetails.html_url}}">{{vm.userDetails.html_url}}</a></strong></p>
		</div>

		<div ng-if="vm.userDetails.public_repos" class="row">
			<p class="text-center">Public Repository Count: <strong>{{vm.userDetails.public_repos}}</strong></p>
		</div>
		
		<div ng-if="vm.userDetails.created_at" class="row">
			<p class="text-center">Public profile created on <strong>{{vm.userDetails.created_at}}</strong></p>
		</div>
		
		<div ng-if="vm.userDetails.updated_at" class="row">
			<p class="text-center">Public profile last updated on <strong>{{vm.userDetails.updated_at}}</strong></p>
		</div>

		<div ng-if="vm.userDetails.followers" class="row">
			<p class="text-center"><a href ng-click="vm.followr()"><strong>See all {{vm.userDetails.login}}'s {{vm.followersLength}} followers</a></strong></p>
		</div>

		<div ng-if="vm.userDetails.following" class="row">
			<p class="text-center"><a href ng-click="vm.followg()"><strong>See all {{vm.userDetails.login}}'s {{vm.followingLength}} followers</a></strong></p>
		</div>
	</div>
</div>