<div class="container">

	<img src="{{vm.user.avatar_url}}" >

	<a href="{{vm.user.html_url}}">Github Profile URL</a>

	<a href ng-click="vm.followr()">Followers: {{vm.user.followers}}</a>

	<a href ng-click="vm.followg()">Followers: {{vm.user.following}}</a>

	<a href ng-click="vm.repos()">Public Repos: {{vm.user.public_repos}}</a>


	<p>{{vm.user | json}}</p>

	 <p>{{vm.user.login}} </p>
	{{vm.user.id}} <p/>
	{{vm.user.avatar_url}} <p/>
	{{vm.user.html_url}} <p/>
	{{vm.user.followers}} <p/>
	{{vm.user.following}} <p/>
	{{vm.user.public_repos}} <p/>
	{{vm.user.created_at}} <p/>
	{{vm.user.updated_at}} <p/>
	{{vm.user.name}} <p/>
	{{vm.user.company}} <p/>
	{{vm.user.blog}} <p/>
	{{vm.user.location}} <p/>
	{{vm.user.bio}} <p/>
	{{vm.user.hireable}} <p/>
	{{vm.user.email}} <p/>

</div>